<fieldset class="measurement">
  <div class="columns">
    <div class="column is-half">
      <div class="field">
        <%= f.label :date, class: 'label' %>
        <div class="control">
          <%= f.text_field :date, class: 'input' %><br />
        </div>
      </div>

      <div class="field">
        <%= f.label :trait_class, class: 'label' %>
        <p class="control has-icons-left">
          <%= f.collection_select(:trait_class_id, @trait_classes, :id, :name, {:prompt => 'Select Trait Class'}, style: 'width: 100%', class: 'independent') %>
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation"></i>
          </span>
        </p>
        <p class="help"> The class of trait measured (e.g. Length, Growth, Demography). </p>
      </div>

      <div class="field">
        <%= f.label :trait, class: 'label' %>
        <p class="control has-icons-left">
          <%= f.grouped_collection_select(:trait_id, @trait_classes, :traits, :name, :id, :name_with_description, {:prompt => 'Select Trait'}, style: 'width: 100%', class: 'trait-class-relative') %>
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation"></i>
          </span>
        </p>
        <p class="help"> The trait measured. NOTE: choose trait class first to see available choices.</p>
      </div>

      <div class="field">
        <%= f.label :sex_type, class: 'label' %>
        <p class="control has-icons-left">
          <%= f.collection_select(:sex_type_id, @sex_types, :id, :name, {:prompt => 'Select Sex'}, style: 'width: 100%', class: 'independent') %>
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation"></i>
          </span>
        </p>
        <p class="help"> The sex assocaited with specific measurement (e.g. female, male, pooled).</p>
      </div>

      <div class="field">
        <%= f.label :standard, class: 'label' %>
        <p class="control has-icons-left">
          <%= f.grouped_collection_select(:standard_id, @trait_classes, :standards, :name, :id, :name_with_description, {:prompt => 'Select Standard'}, style: 'width: 100%', class: 'trait-class-relative') %>
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation"></i>
          </span>
        </p>
        <p class="help"> The units of the measurement (e.g. kg, cm TL, years).</p>
      </div>

      <div class="field">
        <%= f.label :measurement_method, class: 'label' %>
        <%= f.grouped_collection_select(:measurement_method_id, @trait_classes, :measurement_methods, :name, :id, :name_with_description, {:prompt => 'Select Measurement Method'}, style: 'width: 100%', class: 'trait-class-relative') %>
        <p class="help"> The method used to generate the trait measurement. NOTE: choose trait class first to see available choices</p>
      </div>

      <div class="field">
        <%= f.label :measurement_model, class: 'label' %>
        <%= f.grouped_collection_select(:measurement_model_id, @trait_classes, :measurement_models, :name, :id, :name_with_description, {:prompt => 'Select Measurement Model'}, style: 'width: 100%', class: 'trait-class-relative') %>
        <p class="help"> The model used to genreate the trait measurement (e.g. 3 parameter von Bertalanffy growth function). NOTE: choose trait class first to see available choices</p>
      </div>

      <%= f.fields_for :location do |fl| %>
        <div class="field">
          <%= fl.label :name, 'Location Name', class: 'label' %>
          <div class="control">
            <%= fl.text_field :name, class: 'input' %><br />
          </div>
          <p class="help"> The location from which samples/data were collected or traits are attributed (e.g. Southern California Bight, Western North Atlantic).</p>
        </div>

        <div class="columns">
          <div class="column">
            <div class="field">
              <%= fl.label :lat, 'Latitude', class: 'label' %>
              <div class="control">
                <%= fl.text_field :lat, class: 'input' %><br />
              </div>
            </div>
            <p class="help"> If given the latitude of sampling location in decimal degrees (e.g. 40.446<sup>o</sup>N as 40.446 N).</p>
          </div>

          <div class="column">
            <div class="field">
              <%= fl.label :lon, 'Longitude', class: 'label' %>
              <div class="control">
                <%= fl.text_field :lon, class: 'input' %><br />
              </div>
            </div>
          </div>
          <p class="help"> If given the longitude of smapling location in decimal degrees (e.g. 79.982<sup>o</sup>W as 79.982W).</p>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :longhurst_province, class: 'label' %>
        <%= f.collection_select(:longhurst_province_id, @longhurst_provinces, :id, :name, {:prompt => 'Select Longhurst Province'}, style: 'width: 100%', class: 'independent') %>
      </div>
      <p class="help"> The marine longhurst province where samples/data were collected. See <a href="http://www.marineregions.org/maps.php?album=3264&pic=64934"> MarineRegions.org</a> for the corresponding regions and codes.</p>
    </div>

    <div class="column">
      <div class="field">
        <%= f.label :value_type, class: 'label' %>
        <%= f.collection_select(:value_type_id, @value_types, :id, :name_with_description, {:prompt => 'Select Value Type'}, style: 'width: 100%', class: 'independent') %>
        <p class="help"> The type of value the measurement represents (e.g. mean, minimum, maximum, range).</p>
      </div>

      <div class="field">
        <%= f.label :value, class: 'label' %>
        <p class="control has-icons-left">
          <%= f.text_field :value, class: 'input' %><br />
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation"></i>
          </span>
        </p>
        <p class="help"> The measurement value.</p>
      </div>

      <div class="field">
        <%= f.label :precision_type, class: 'label' %>
        <%= f.collection_select(:precision_type_id, @precision_types, :id, :name_with_description, {:prompt => 'Select Precision Type'}, style: 'width: 100%', class: 'independent') %>
        <p class="help"> If provided, the type of precision associated with the measurement (e.g. standard deviation, condidence interval, range).</p>
      </div>

      <div class="columns">
        <div class="column">
          <div class="field">
            <%= f.label :precision, class: 'label' %>
            <%= f.text_field :precision, class: 'input' %><br />
          </div>
          <p class="help"> The value of precision. NOTE for range this will be the lower bound.</p>
        </div>

        <div class="column">
          <div class="field">
            <%= f.label :precision_upper, class: 'label' %>
            <%= f.text_field :precision_upper, class: 'input' %><br />
          </div>
        </div>
        <p class="help"> The upper limit of precision. NOTE for range this will be the upper bound.</p>
      </div>

      <div class="field">
        <%= f.label :sample_size, class: 'label' %>
        <%= f.text_field :sample_size, class: 'input' %><br />
        <p class="help"> The sample size used to generate the measurement value (n).</p>
      </div>

      <div class="columns">
        <div class="column">
          <%# TODO: We don't have any validation types in the db at the moment %>
          <%# <div class="field"> %>
          <%#   <%= f.label :validation_type, class: 'label' %1> %>
          <%#   <%= f.collection_select(:validation_type_id, @validation_types, :id, :name_with_description, {:prompt => 'Select Validation Type'}, style: 'width: 100%') %1> %>
          <%# </div> %>

          <div class="field">
            <%= f.label :validated, class: 'label' %>
            <%= f.check_box :validated %>
          </div>
          <p class="help"> Logical (yes/no) whether the measurement has been validated (e.g. age and growth parameter estimates using known age individuals).</p>
        </div>

        <div class="column">
          <div class="field">
            <%= f.label :dubious, class: 'label' %>
            <%= f.check_box :dubious %>
          </div>
        </div>
        <p class="help"> Logical (yes/no) whether measurement value is dubious. If yes then rationale must be provided in notes (e.g. low sampl size, missing size range).</p>
      </div>

      <div class="field">
        <%= f.label :notes, class: 'label' %>
        <%= f.text_area :notes, class: 'input' %><br />
      </div>
    </div>
  </div>


  <div class="is-pulled-right">
    <%= f.hidden_field :_destroy %>
    <%= link_to '[remove]', '#', class: 'remove_fields' %>
  </div>
</fieldset>

<script type="text/javascript">

  $('fieldset.measurement select.independent').select2({ selectOnClose: true, width: 'element' });

  $('fieldset.measurement select.trait-class-relative').select2({
    width: 'element',
    selectOnClose: true,
    matcher: function(params, data) {
      let traitClassId = $(data.element.parentElement).attr("id").match(/(.*_\d+_)/)[0]
        + "trait_class_id";

      let traitClass = $("#" + traitClassId + " " + "option:selected").text();

      if (data.text.indexOf(traitClass) > -1) {
        return data;
      } else {
        return null;
      }
    }
  });

</script>
