<h2 class="title">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", type: "name", placeholder: "Name", class: "input" %>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <%= f.email_field :email, autocomplete: "email", type: "email", placeholder: "Email", class: "input" %>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left">
      <%= f.password_field :password, autocomplete: "new-password", class: "input", type: "password", placeholder: "Password (#{@minimum_password_length} characters minimum)" %>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <div class="field">
    <p class="control has-icons-left">
      <%= f.password_field :password, autocomplete: "new-password", class: "input", type: "password", placeholder: "Password confirmation" %>
      <span class="icon is-small is-left">
        <i class="fas fa-lock"></i>
      </span>
    </p>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button is-primary" %>
  </div>
<% end %>

<br />
<br />

<%= render "devise/shared/links" %>
