<h1 class="title">Traits</h1>

<div>
  Search for Trait name
  <%= grouped_collection_select(nil, :trait_search, @trait_classes, :traits, :name, :id, :name, {:prompt => 'Select Trait'}, style: 'width: 50%') %>

</div>

<hr />

<div>
  <div class="tabs is-medium">
    <ul>
      <% @trait_classes.each_with_index do |trait_class, idx| %>
        <li class="<%= idx == 0 ? 'is-active' : nil %>" data-option="<%= idx %>"><a><%= trait_class.name %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="tab-container">
    <% @trait_classes.each_with_index do |trait_class, idx| %>
      <div class="tab-item <%= idx == 0 ? 'is-active' : nil %>" data-item="<%= idx %>">
        <table class="table is-fullwidth is-bordered">
          <tbody>
            <% trait_class.traits.each do |trait| %>
              <tr>
                <td><%= link_to trait.name, trait_path(trait) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>
