<h1 class="title"><%= @trait.name %></h1>

<p><%= @trait.description %></p>

<% if @measurements.blank? %>
  <em>No measurements for this trait.</em>
<% else %>
  <h3 class='subtitle is-3'>Measurements</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Species <%= link_to '↕', trait_path(@trait, order: :species) %></th>
        <th>Name</th>
        <th>Value</th>
        <th>Standard</th>
        <th>ValueType</th>
        <th>Location</th>
        <th>Reference <%= link_to '↕', trait_path(@trait, order: :references) %></th>
      </tr>
    </thead>
    <tbody>
      <% @measurements.each do |measurement| %>
        <tr>
          <td><%= link_to measurement.species.name, species_path(measurement.species) %></td>
          <td><%= measurement.trait.name %></td>
          <td><%= measurement.value %></td>
          <td><%= measurement.standard.try(:name) %></td>
          <td><%= measurement.value_type.try(:name) %></td>
          <td><%= measurement.location.name %></td>
          <td><%= link_to measurement.observation.references.first.name, reference_path(measurement.observation.references.first) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
