<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <th>Species</th>
      <td id="species-name">
        <% if local_assigns.has_key? :render_links %>
          <%= link_to specie.name, species_path(specie) %>
        <% elsif local_assigns.has_key? :render_links_new_window %>
          <%= link_to specie.name, species_path(specie), target: '_blank' %>
        <% else %>
          <%= specie.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Superorder</th>
      <td id="species-superorder"><%= specie.species_superorder.name %></td>
    </tr>
    <tr>
      <th>Order</th>
      <td id="species-order"><%= specie.species_order.name %></td>
    </tr>
    <tr>
      <th>Subclass</th>
      <td id="species-subclass"><%= specie.species_subclass.name %></td>
    </tr>
    <tr>
      <th>Family</th>
      <td id="species-family"><%= specie.species_family.name %></td>
    </tr>
    <tr>
      <th>IUCNcode</th>
      <td id="species-iucn-code"><%= specie.iucn_code %></td>
    </tr>
  </tbody>
</table>
