<h1 class="title">Species</h1>

<div>
  Search for species name
  <%= select_tag 'species', nil, style: 'width: 50%' %>
</div>

<hr />

<% if params[:all] %>
  <p>or select from list (<%= link_to 'show only species with data', species_index_path %>):</p>
<% else %>
  <p>or select from list (<%= link_to 'show all species', species_index_path(all: true) %>):</p>
<% end %>

<div>
  <table class="table is-fullwidth is-bordered">
    <tbody>
      <% @species.each do |species| %>
        <tr>
          <td><%= link_to species.name, species_path(species) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%== pagy_bulma_nav(@pagy) %>
</div>
