<h1 class="title"><%= @specie.name %></h1>

<div class="columns">
  <div class="column">
    <p>
      <b>Superorder:</b> <%= @specie.species_superorder.name %>
    </p>
    <p>
      <b>Subclass:</b> <%= @specie.species_subclass.name %>
    </p>
    <p>
      <b>Order:</b> <%= @specie.species_order.name %>
    </p>
    <p>
      <b>Family:</b> <%= @specie.species_family.name %>
    </p>
  </div>
  <div class="column">
    <p class="title is-6">External resources for this species:</p>
    TODO: link to iucn redlist
  </div>
</div>

<% if @grouped_measurements.blank? %>
  <em>No measurements for this species.</em>
<% else %>
  <h3 class='subtitle is-3'>Traits</h2>

  <% @grouped_measurements.each do |trait_class, measurements| %>
    <h4 class='subtitle is-4'><%= trait_class.name %></h4>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Standard</th>
          <th>ValueType</th>
          <th>Sex</th>
          <th>Location</th>
          <th>Resource</th>
        </tr>
      </thead>
      <tbody>
        <% measurements.each do |measurement| %>
          <tr>
            <td><%= link_to measurement.trait.name, trait_path(measurement.trait) %></td>
            <td><%= measurement.value %></td>
            <td><%= measurement.standard.try(:name) %></td>
            <td><%= measurement.value_type.try(:name) %></td>
            <td><%= measurement.sex_type.try(:name) %></td>
            <td><%= measurement.location.name %></td>
            <td><%= measurement.observation.resources.first.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
