<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <th>Figure Name</th>
      <td id="figure-name"><%= trend.figure_name %></td>
    </tr>
    <tr>
      <th>Page and Figure Number</th>
      <td id="page-and-figure-number"><%= trend.page_and_figure_number %></td>
    </tr>
    <tr>
      <th>Line Used</th>
      <td id="line-used"><%= trend.line_used %></td>
    </tr>
    <tr>
      <th>PDF Page</th>
      <td id="pdf-page"><%= trend.pdf_page %></td>
    </tr>
    <tr>
      <th>Actual Page</th>
      <td id="actual-page"><%= trend.actual_page %></td>
    </tr>
  </tbody>
</table>
