<%= form_with model: @trend do |f| %>

  <%= render partial: 'shared/form_errors', locals: { thing: @trend } %>

  <%= render partial: 'shared/form_species', locals: { species: @trend.species, species_group: @trend.species_group, target: 'trend' } %>

  <%= render partial: 'shared/form_reference', locals: { reference: reference, target: 'trend', many: false } %>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= f.label :page_and_figure_number, 'Page and Figure Number', class: 'label' %>
        <div class="control">
          <%= f.text_field :page_and_figure_number, class: 'input' %><br />
        </div>
      </div>

      <div class="field">
        <%= f.label :line_used, class: 'label' %>
        <div class="control">
          <%= f.text_field :line_used, class: 'input' %><br />
        </div>
      </div>

      <div class="field">
        <%= f.label :pdf_page, class: 'label' %>
        <div class="control">
          <%= f.text_field :pdf_page, class: 'input' %><br />
        </div>
      </div>

    </div>

    <div class="column">

      <div class="field">
        <%= f.label :actual_page, class: 'label' %>
        <div class="control">
          <%= f.text_field :actual_page, class: 'input' %><br />
        </div>
      </div>

      <div class="field">
        <%= f.label :figure_name, class: 'label' %>
        <div class="control">
          <%= f.text_field :figure_name, class: 'input' %><br />
        </div>
      </div>

      <div class="field">
        <%= f.label :figure, class: 'label' %>
        <div class="control">
          <% if @trend.figure.attached? %>
            <%= image_tag @trend.figure %>
          <% else %>
            <%= f.file_field :figure, multiple: false, direct_upload: true, accept: 'image/png, image/jpeg, image/jpg' %>
            <img id="img_prev" class="is-hidden" />
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h3 class="subtitle is-4 is-spaced"> Measurement metadata </h3>

  <div class="columns">
    <div class="column">

      <div class="field">
        <%= f.label 'standard', 'Unit', class: 'label' %>
        <p class="control has-icons-left">
          <%= f.collection_select(:standard_id, @standards, :id, :name, {:prompt => 'Select Unit'}, style: 'width: 100%') %>
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <%= f.label 'sampling_method', 'Sampling Method', class: 'label' %>
        <p class="control has-icons-left">
          <%= f.collection_select(:sampling_method_id, @sampling_methods, :id, :name, {:prompt => 'Select Sampling Method'}, style: 'width: 100%') %>
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation"></i>
          </span>
        </p>
      </div>

    </div>

    <div class="column">
      <div class="field">
        <%= f.label 'data_type', 'Data Type', class: 'label' %>
        <p class="control has-icons-left">
          <%= f.collection_select(:data_type_id, @data_types, :id, :name, {:prompt => 'Select Data Type'}, style: 'width: 100%') %>
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation"></i>
          </span>
        </p>
      </div>
    </div>
  </div>

  <h3 class="subtitle is-4 is-spaced"> Location </h3>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= f.label 'ocean', 'Ocean', class: 'label' %>
        <p class="control has-icons-left">
        <%= f.collection_select(:ocean_ids, @oceans, :id, :name, {}, style: 'width: 100%', multiple: true) %>
          <span class="icon is-small is-left">
            <i class="fas fa-exclamation"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <%= f.label :depth, class: 'label' %>
        <div class="control">
          <%= f.text_field :depth, class: 'input' %><br />
        </div>
      </div>
    </div>

    <div class="column">
      <%= f.fields_for @trend.location do |fl| %>
        <div class="field">
          <%= fl.label :name, 'Location Name', class: 'label' %>
          <div class="control">
            <%= fl.text_field :name, class: 'input' %><br />
          </div>
        </div>

        <div class="field">
          <%= fl.label :lat, 'Latitude', class: 'label' %>
          <div class="control">
            <%= fl.text_field :lat, class: 'input' %><br />
          </div>
        </div>

        <div class="field">
          <%= fl.label :lon, 'Longitude', class: 'label' %>
          <div class="control">
            <%= fl.text_field :lon, class: 'input' %><br />
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <h3 class="subtitle is-4 is-spaced"> Marine Regions </h3>

  <div class="columns">
    <div class="column">
      <div class="field">
        <%= f.label 'meow', 'MEOW', class: 'label' %>
        <p class="control has-icons-left">
          <%= collection_select(:trend, :meow_region_ids, @meow_regions, :id, :province, {}, style: 'width: 100%', multiple: true) %>
        </p>
      </div>

      <div class="field">
        <%= f.label 'ppow', 'PPOW', class: 'label' %>
        <p class="control has-icons-left">
          <%= collection_select(:trend, :ppow_region_ids, @ppow_regions, :id, :province, {}, style: 'width: 100%', multiple: true) %>
        </p>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= f.label 'fao_areas', 'FAO Areas', class: 'label' %>
        <p class="control has-icons-left">
          <%= f.collection_select(:fao_area_ids, @fao_areas, :id, :name, {}, style: 'width: 100%', multiple: true) %>
        </p>
      </div>
    </div>
  </div>

  <%= react_component("TrendDataInput", { start_year: @trend.start_year, end_year: @trend.end_year, no_years: @trend.no_years, values: @trend.observations_data }) %>

  <%= f.submit class: 'button is-primary is-pulled-right' %>
<% end %>
