<% if user_is_admin? %>
  <% unless trends.blank? %>
    <% unless local_assigns.has_key? :hide_title %>
      <h3 class='subtitle is-3'>Trends</h2>
    <% end %>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <% unless local_assigns.has_key? :hide_species %>
            <th>Species</th>
          <% end %>
          <th>Location</th>
          <th></th>
          <th>Unit</th>
          <% unless local_assigns.has_key? :hide_reference %>
            <th>Reference</th>
          <% end %>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% trends.each do |trend| %>
          <tr>
            <% unless local_assigns.has_key? :hide_species %>
              <td><%= link_to trend.species.name, species_path(trend.species) %></td>
            <% end %>
            <td><%= trend.location.name %></td>
            <td width="40%"><%= render partial: 'trends/chart', locals: { observations: trend.trend_observations } %></td>
            <td><%= trend.standard.name %></td>
            <% unless local_assigns.has_key? :hide_reference %>
              <td><%= link_to trend.reference.name, reference_path(trend.reference) %></td>
            <% end %>
            <td><%= link_to 'Details', trend_path(trend) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
