<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <th>
        Source observation
      </th>
      <td id="source_observations">
        <%= trend.source_observations.map(&:name).join(", ") %>
      </td>
    </tr>
    <tr>
      <th>
        General data type
      </th>
      <td id="data-type"><%= trend.data_type.name %></td>
    </tr>
    <tr>
      <th>Unit</th>
      <td id="unit"><%= trend.standard.name %></td>
    </tr>
    <tr>
      <th>Unit transformation</th>
      <td id="data-type"><%= trend.unit_transformation&.name %></td>
    </tr>
    <tr>
      <th>Sampling Method general</th>
      <td id="sampling-method"><%= trend.sampling_method.name %></td>
    </tr>
  </tbody>
</table>
