<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <th>Unit</th>
      <td id="unit"><%= trend.standard.name %></td>
    </tr>
    <tr>
      <th>Sampling Method</th>
      <td id="sampling-method"><%= trend.sampling_method.name %></td>
    </tr>
    <tr>
      <th>Data Type</th>
      <td id="data-type"><%= trend.data_type.name %></td>
    </tr>
    <tr>
      <th>No Year</th>
      <td id="no-years"><%= trend.no_years %></td>
    </tr>
    <tr>
      <th>Time Min</th>
      <td id="time-min"><%= trend.time_min %></td>
    </tr>
    <tr>
      <th>Depth</th>
      <td id="depth"><%= trend.depth %></td>
    </tr>
  </tbody>
</table>
