<h1 class="title">
  Trends
  <% if user_is_admin? %>
    <%= link_to 'Upload new Trend', new_trend_path, class: 'button is-primary is-pulled-right' %>
  <% end %>
</h1>

<table class="table">
  <thead>
    <tr>
      <th>Species</th>
      <th>Location</th>
      <th>Unit</th>
      <th>No Years</th>
      <th>Time Min</th>
      <th>Resource</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @trends.each do |trend| %>
      <tr>
        <td><%= link_to trend.species.name, species_path(trend.species) %></td>
        <td><%= trend.location.name %></td>
        <td><%= trend.standard.name %></td>
        <td><%= trend.no_years %></td>
        <td><%= trend.time_min %></td>
        <td><%= link_to trend.resource.name, resource_path(trend.resource) %></td>
        <td><%= link_to 'Show', trend_path(trend) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
