<div class="columns">
  <div class="column">
    <h1 class="title">
      <%= @trend.title %>
    </h1>
  </div>

  <div class="column is-one-third">
    <div class="buttons is-pulled-right">
      <% if user_is_admin? %>
        <%= link_to 'Edit', edit_trend_path(@trend), class: 'button is-info is-pulled-right is-light' %>
      <% end %>

      <%= link_to 'Report Error', "mailto:admin@sharktraits.org?subject=Error in Trend #{@trend.id}&body=Hi,\n\nI found an error in the data for this trend: #{trend_url(@trend)}", class: 'button is-danger is-light' %>

      <%= link_to 'Download as CSV', trend_path(@trend, format: 'csv'), class: 'button is-primary is-light' %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-one-third">
    <%= render partial: 'species/detail', locals: { specie: @trend.species, render_links: true } %>
    <%= render partial: 'location', locals: { location: @trend.location, ocean: @trend.ocean } %>
  </div>
  <div class="column">
    <% if @trend.figure.attached? %>
      <div class="tabs is-small">
        <ul>
          <li class="is-active" data-option="0"><a>Plot</a></li>
          <li data-option="1"><a>Figure</a></li>
          <li data-option="2"><a>Both</a></li>
        </ul>
      </div>
    <% end %>
    <div class="tab-container">
      <div class="tab-item is-active" data-item="0">
        <%= react_component("TrendChart", { observations: @trend.observations_data }) %>
      </div>

      <% if @trend.figure.attached? %>
        <div class="tab-item" data-item="1">
          <%= image_tag @trend.figure %>
        </div>

        <div class="tab-item" data-item="2">
          <%= react_component("TrendChart", { observations: @trend.observations_data }) %>

          <%= image_tag @trend.figure %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column">
    <% if @trend.location.lat && @trend.location.lon %>
      <%= react_component("MarineRegionsMap", { latitude: @trend.location.lat, longitude: @trend.location.lon, marine_ecoregions_world: MarineEcoregionsWorld.where(trend_reg_id: [528,31,32]).map(&:unep_fid), fao_areas: FaoArea.where(f_area: ['31', '21']).map(&:f_code) } ) %>
    <% end %>
  </div>
</div>

<div class="columns">
  <div class="column">
    <%= render partial: 'raw_data', locals: { observations: @trend.trend_observations } %>
  </div>
  <div class="column">
    <%= render partial: 'meta', locals: { trend: @trend } %>
  </div>
  <div class="column">
    <%= render partial: 'figure_meta', locals: { trend: @trend } %>
  </div>
</div>

<div class="columns">
  <div class="column">
    <%= render partial: 'references/detail', locals: { reference: @trend.reference, render_links: true } %>
  </div>
  <div class="column">
  </div>
</div>
