<h1 class="title"><%= @trend.species.name %> - <%= @trend.resource.name %></h1>

<div class="columns">
  <div class="column is-one-third"">
    <%= render partial: 'species/detail', locals: { specie: @trend.species, render_links: true } %>
    <%= render partial: 'location', locals: { location: @trend.location, ocean: @trend.ocean } %>
  </div>
  <div class="column">
    <%= render partial: 'chart', locals: { observations: @trend.trend_observations } %>
  </div>
</div>

<div class="columns">
  <div class="column">
    <%= render partial: 'raw_data', locals: { observations: @trend.trend_observations } %>
  </div>
  <div class="column">
    <%= render partial: 'meta', locals: { trend: @trend } %>
  </div>
  <div class="column">
    <%= render partial: 'figure_meta', locals: { trend: @trend } %>
  </div>
</div>

<div class="columns">
</div>

<div class="columns">
  <div class="column">
    <%= render partial: 'resources/detail', locals: { resource: @trend.resource } %>
  </div>
  <div class="column">
    <% if @trend.figure.attached? %>
      <%= image_tag @trend.figure %>
    <% end %>
  </div>
</div>
