<div class="columns">
  <div class="column">
    <p>
      <strong>Title:</strong>
      <%= @import.title %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @import.import_type %>
    </p>

    <p>
      <strong>Uploaded by:</strong>
      <%= link_to_admin_dashboard @import %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @import.state %>
    </p>

  </div>
  <div class="column">
    <% if current_user == @import.user && @import.changes_requested? %>
      <%= link_to 'Upload new version', edit_import_path(@import), class: 'button is-warning' %>
    <% end %>

    <% if current_user.editor? && @import.pending_review? %>
      <%# TODO: only editors should see these buttons %>
      <a class="button is-danger" id="reject-btn">Reject</a>
      <a class="button is-warning" id="request-changes-btn">Request Changes</a>
      <a class="button is-success" id="approve-btn">Approve and Import</a>
    <% end %>

  </div>
</div>

<p>
  <strong>Log:</strong>
  <pre><%= @import.log %></pre>
</p>


<% unless @import.reason.blank? %>
  <br />
  <p>
    <strong>Message:</strong>
    <pre><%= @import.reason %></pre>
  </p>
<% end %>

<%= render "modal" %>

<br />
<br />

<p>
  <strong>xlsx file:</strong>
  <%= link_to @import.xlsx_file.filename, url_for(@import.xlsx_file) %>
</p>

<%= react_component("ExcelPreview", { url: url_for(@import.xlsx_file) }) %>
