<div class="columns">
  <div class="column">
    <p>
      <strong>Title:</strong>
      <%= @import.title %>
    </p>

    <p>
      <strong>Uploaded by:</strong>
      <%= @import.uploaded_by %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @import.state %>
    </p>

  </div>
  <div class="column">

    <% if @import.pending_review? %>
      <%# TODO: only editors should see these buttons %>
      <a class="button is-danger" id="reject-btn">Reject</a>
      <a class="button is-warning" id="request-changes-btn">Request Changes</a>
      <a class="button is-success" id="approve-btn">Approve and Import</a>
    <% end %>

  </div>
</div>

<p>
  <strong>Log:</strong>
  <pre><%= @import.log %></pre>
</p>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        <span class="reject is-hidden">
          Reject
        </span>
        <span class="request-changes is-hidden">
          Request changes
        </span>
        <span class="approve is-hidden">
          Approve
        </span>
      </p>
    </header>
    <section class="modal-card-body">
      <span class="reject is-hidden">
        Are you sure you want to reject this dataset? This action can not be
        reversed.

        TODO: add a text box for a reason
      </span>
      <span class="request-changes is-hidden">
        Why is the uploaded data not acceptable in this form? What needs to
        be changed for it to be accepted?

        TODO: add a text box for a reason
      </span>
      <span class="approve is-hidden">
        Are you sure the data is good?
      </span>
    </section>
    <footer class="modal-card-foot">
      <%= link_to 'Approve and Import', import_approve_path(@import), method: :post, class: 'button is-success approve is-hidden' %>
      <%= link_to 'Request changes', import_request_changes_path(@import), method: :post, class: 'button is-warning request-changes is-hidden' %>
      <%= link_to 'Reject', import_reject_path(@import), method: :post, class: 'button is-danger reject is-hidden' %>
      <button class="button close-modal">Cancel</button>
    </footer>
  </div>
</div>


<br />
<br />

<script src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="//unpkg.com/canvas-datagrid/dist/canvas-datagrid.js"></script>

<p>
  <strong>xlsx file:</strong>
  <%= link_to @import.xlsx_file.filename, url_for(@import.xlsx_file) %>
</p>

<div id="gridctr" style="height: 637px;"></div>

<script>
  /*jshint browser:true */
  /* eslint-env browser */
  /* eslint no-use-before-define:0 */
  /*global Uint8Array, Uint16Array, ArrayBuffer */
  /*global XLSX */


  var url = "<%= url_for @import.xlsx_file %>";

  /* set up async GET request */
  var req = new XMLHttpRequest();
  req.open("GET", url, true);
  req.responseType = "arraybuffer";

  req.onload = function(e) {
    var data = new Uint8Array(req.response);
    var workbook = XLSX.read(data, {type:"array"});

    var ws = workbook.Sheets[workbook.SheetNames[0]];
    var data = XLSX.utils.sheet_to_json(ws, {header:1});

    var grid = canvasDatagrid({
      parentNode: document.getElementById('gridctr'),
      editable: false,
      data: data
    });
    grid.style.height = '100%';
    grid.style.width = '100%';
  }

  req.send();

</script>
