<div class="columns">
  <div class="column">
    <p>
      <strong>Title:</strong>
      <%= @import.title %>
    </p>

    <p>
      <strong>Type:</strong>
      <%= @import.import_type %>
    </p>

    <p>
      <strong>Uploaded by:</strong>
      <%= link_to_admin_dashboard @import %>
    </p>

    <p>
      <strong>State:</strong>
      <%= @import.state %>
    </p>

  </div>
  <div class="column">
    <% if current_user == @import.user && @import.changes_requested? %>
      <%= link_to 'Upload new version', edit_import_path(@import), class: 'button is-warning' %>
    <% end %>

    <% if current_user.editor? && @import.pending_review? %>
      <%# TODO: only editors should see these buttons %>
      <a class="button is-danger" id="reject-btn">Reject</a>
      <a class="button is-warning" id="request-changes-btn">Request Changes</a>
      <a class="button is-success" id="approve-btn">Approve and Import</a>
    <% end %>

  </div>
</div>

<p>
  <strong>Log:</strong>
  <pre><%= @import.log %></pre>
</p>


<% unless @import.reason.blank? %>
  <br />
  <p>
    <strong>Message:</strong>
    <pre><%= @import.reason %></pre>
  </p>
<% end %>

<%= render "modal" %>

<br />
<br />

<script src="//unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script src="//unpkg.com/canvas-datagrid/dist/canvas-datagrid.js"></script>

<p>
  <strong>xlsx file:</strong>
  <%= link_to @import.xlsx_file.filename, url_for(@import.xlsx_file) %>
</p>

<div id="gridctr" style="height: 637px;"></div>

<script>
  /*jshint browser:true */
  /* eslint-env browser */
  /* eslint no-use-before-define:0 */
  /*global Uint8Array, Uint16Array, ArrayBuffer */
  /*global XLSX */


  var url = "<%= url_for @import.xlsx_file %>";

  /* set up async GET request */
  var req = new XMLHttpRequest();
  req.open("GET", url, true);
  req.responseType = "arraybuffer";

  req.onload = function(e) {
    var data = new Uint8Array(req.response);
    var workbook = XLSX.read(data, {type:"array"});

    var ws = workbook.Sheets[workbook.SheetNames[0]];
    var data = XLSX.utils.sheet_to_json(ws, {header:1});

    var grid = canvasDatagrid({
      parentNode: document.getElementById('gridctr'),
      editable: false,
      data: data
    });
    grid.style.height = '100%';
    grid.style.width = '100%';
  }

  req.send();

</script>
