<style>
/* Bio image grid */

.columnbio {
  float: left;
  width: 25%;
  padding: 10px;
  text-align: center;
}

/* Clearfix (clear floats) */
.rowbio::after {
  content: "";
  clear: both;
  display: table;
}

.roundrect {
  border-radius: 15px;
}

.imgborder {
  border: 30px solid rgba(0,0,0,0);
}

</style>

<h1 class="title">About Sharkipedia</h1>

<p>
  Sharkipedia is an open source research initiative to
  make all published biological traits and population trends on sharks, rays, and chimaeras accessible
  to everyone. Originally inspired by <a href=https://fishbase.org>FishBase</a>, our databases are modelled after <a href="https://coraltraits.org">Coral Traits database</a> and the <a href="https://www.ramlegacy.org/">RAM legacy database</a>.
</p>

<br />

<p>
  The key aspects of our initiative were established with the central tenet of facilitating research on chondrichthyans,
  and are built on three main principles: (1) being completely web-based open-
  access and queryable for use by all researchers, (2) quality control and assurance by
  experts in the field and traceability of every measurement to its original references, and (3) regular updates
  association with International Union for the Conservation of Nature (IUCN) Red List Assessment workshops of focal species.
</p>

<br />

<h3 class="title">Mission</h3>

<div class="content">
  <ul>
    <li> Assemble disparate information on life history traits of sharks, rays, and chimaeras </li>
    <li> Provide unrestricted, open-source and easy access to shark trait data </li>
    <li> Avoid redundant data-gathering efforts </li>
    <li> Facilitate and encourage the appropriate crediting (citation) of original data sources </li>
    <li> Engage the shark and ray research community in the collection and quality control of trait data </li>
    <li> Facilitate reproducible science </li>
    <li> Do the above with a sustainable future for the database in mind, in terms of management and longevity </li>
  </ul>
</div>

<p>
  Web-based open-access ensures consensus on the data used by researchers and
  managers. Data curation is an important component that assures data quality by
  evaluating the confidence in the data by experts.
  To this end we have recruited global leaders on the biology and ecology of
  chondrichthyans to synthesize the available information and create a comprehensive
  open access resource. Incorporating data entry and updates with the IUCN Shark
  Specialist Group’s (SSG) global and regional assessments will also facilitate future
  assessments by the IUCN and accuracy of the database. Together, these data will
  provide an invaluable and flexible tool understanding chondrichthyan biology and for
  managing populations in the face of changing threats across the globe.
</p>

<br />

<h3 class="title">Who we are</h3>

<div class="rowbio">
  <div class="columnbio">
    <%= image_tag "chris.jpg", class: "roundrect", size: 200 %>
    <br />Dr. Christopher Mull<br /><a href"mailto:creeas@gmail.com">creeas@gmail.com</a>
  </div>
  <div class="columnbio">
    <%= image_tag "Nathan_Pacoureau-300x300.jpg", class: "roundrect", size: 200 %>
    <br />Dr. Nathan Pacoureau<br /><a href"mailto:pacoureau_nathan@sfu.ca">pacoureau_nathan@sfu.ca</a>
  </div>
  <div class="columnbio">
    <%= image_tag "seb.jpg", class: "roundrect", size: 200 %>
    <br />Dr. Sebastián Pardo<br /><a href"mailto:spardo@dal.ca">spardo@dal.ca</a>
  </div>
  <div class="columnbio">
    <%= image_tag "holly.jpg", class: "roundrect", size: 200 %>
    <br />Dr. Holly Kindsvater<br /><a href"mailto:hkindsvater@vt.edu">hkindsvater@vt.edu</a>
  </div>
  <div class="columnbio">
    <%= image_tag "dulvy.jpg", class: "roundrect", size: 200 %>
    <br />Dr. Nicholas Dulvy<br /><a href"mailto:dulvy@sfu.ca">dulvy@sfu.ca</a>
  </div>
</div>

<br />

<h3 class="subtitle">Software Development</h3>

<div class="rowbio">
  <div class="columnbio">
    <%= image_tag "max.jpg", class: "roundrect", size: 200 %>
    <br />Maximilian Haack<br /><a href"mailto:max@holmes-iv.com">max@holmes-iv.com</a>
  </div>
</div>

<br />


<h3 class="subtitle">Editors</h3>

<p>
  An integral part of Sharkipedia is data curation, which is only possible with the work of the following editors:
</p>

<br />

<div class="content">
  <ul>
    <% @editors.each do |editor| %>
      <li><%= editor.name %></li>
    <% end %>
  </ul>
</div>

<br />
<br />

<h3 class="subtitle">Contributors</h3>
<p>Our databases would not be possible without the countless data contributors:</p>

<br />

<div class="content">
  <ul>
    <% @contributors.each do |contributor| %>
      <li><%= contributor.name %></li>
    <% end %>
  </ul>

  <div>
    <%= @contributor_codes.join(', ') %>
  </div>
</div>
