<h1 class="title is-1">API</h1>

<% if current_user %>
  <h3 class="title is-3">Access token</h3>
  <p>
    Your API token is <code><%== current_user.token %></code>.
  </p>

  <p>
    This token is required to be present in the Authorization HTTP header in all requests to the API. For example:
  </p>

  <pre>
curl -s -H 'Authorization: Token <%= current_user.token %>' <%= request.base_url %>/api/v1/species
{"data":[{"id":"1283","type":"species","attributes":{"binomial_name":"Rajella leopardus","edg...
  </pre>


  <h3 class="title is-3">Documentation</h3>
  <p>
    The API follows the <a href="https://jsonapi.org/" target="_blank">jsonapi specification</a>. There are many implementations for various
    programming languages which will make integration straightforward.
  </p>

  <p>
  Data is returned in JSON, in a single line. The following examples use <a href="https://curl.se/" target="_blank">cURL</a> for making the requests and <a href="https://stedolan.github.io/jq/" target="_blank">jq</a> for pretty printing the JSON.
  </p>

<h4 class="title is-4">Retrieve a single species</h4>

<h5 class="subtitle is-5">by name</h5>

<pre>
$ curl -s -H 'Authorization: Token <%= current_user.token %>' \
             "https://www.sharkipedia.org/api/v1/species/chimaera-lignaria" | jq '.'
{
  "data": {
    "id": "9",
    "type": "species",
    "attributes": {
      "binomial_name": "Chimaera lignaria",
      "edge_scientific_name": "Chimaera lignaria",
      "iucn_code": null,
      "authorship": "Didier 2002 "
    },
    "relationships": {}
  },
  "links": {
    "self": "https://www.sharkipedia.org/api/v1/species/chimaera-lignaria"
  }
}
</pre>

<h5 class="subtitle is-5">by id</h5>

<pre>
$ curl -s -H 'Authorization: Token <%= current_user.token %>' \
             "https://www.sharkipedia.org/api/v1/species/9" | jq '.'
{
  "data": {
    "id": "9",
    "type": "species",
    "attributes": {
      "binomial_name": "Chimaera lignaria",
      "edge_scientific_name": "Chimaera lignaria",
      "iucn_code": null,
      "authorship": "Didier 2002 "
    },
    "relationships": {
      "observations": {
        "data": [
          {
            "id": "387",
            "type": "observation"
          },
          {
            "id": "387",
            "type": "observation"
          },
          {
            "id": "387",
            "type": "observation"
          },
          {
            "id": "387",
            "type": "observation"
          },
          {
            "id": "387",
            "type": "observation"
          }
        ]
      },
      "measurements": {
        "data": [
          {
            "id": "4936",
            "type": "measurement"
          },
          {
            "id": "4937",
            "type": "measurement"
          },
          {
            "id": "4938",
            "type": "measurement"
          },
          {
            "id": "4941",
            "type": "measurement"
          },
          {
            "id": "4942",
            "type": "measurement"
          }
        ]
      },
      "trends": {
        "data": []
      }
    }
  },
  "links": {
    "self": "https://www.sharkipedia.org/api/v1/species/9"
  }
}
</pre>


<h4 class="title is-4">Including Observation &amp; Measurements</h4>

<pre>
$ curl -s -H 'Authorization: Token <%= current_user.token %>' \
             "https://www.sharkipedia.org/api/v1/species/9?include=observations,measurements" | jq '.'
{
  "data": {
    "id": "9",
    "type": "species",
    "attributes": {
      "binomial_name": "Chimaera lignaria",
      "edge_scientific_name": "Chimaera lignaria",
      "iucn_code": null,
      "authorship": "Didier 2002 "
    },
    "relationships": {
      "observations": {
        "data": [
          {
            "id": "387",
            "type": "observation"
          },
          {
            "id": "387",
            "type": "observation"
          },
          {
            "id": "387",
            "type": "observation"
          },
          {
            "id": "387",
            "type": "observation"
          },
          {
            "id": "387",
            "type": "observation"
          }
        ]
      },
      "measurements": {
        "data": [
          {
            "id": "4936",
            "type": "measurement"
          },
          {
            "id": "4937",
            "type": "measurement"
          },
          {
            "id": "4938",
            "type": "measurement"
          },
          {
            "id": "4941",
            "type": "measurement"
          },
          {
            "id": "4942",
            "type": "measurement"
          }
        ]
      },
      "trends": {
        "data": []
      }
    }
  },
  "links": {
    "self": "https://www.sharkipedia.org/api/v1/species/9?include=observations,measurements"
  },
  "included": [
    {
      "id": "387",
      "type": "observation",
      "attributes": {
        "depth": "400-1800",
        "references": [
          "didier2002a"
        ]
      },
      "relationships": {
        "measurements": {
          "data": [
            {
              "id": "4936",
              "type": "measurement"
            },
            {
              "id": "4937",
              "type": "measurement"
            },
            {
              "id": "4938",
              "type": "measurement"
            },
            {
              "id": "4939",
              "type": "measurement"
            },
            {
              "id": "4940",
              "type": "measurement"
            },
            {
              "id": "4941",
              "type": "measurement"
            },
            {
              "id": "4942",
              "type": "measurement"
            },
            {
              "id": "4943",
              "type": "measurement"
            },
            {
              "id": "4944",
              "type": "measurement"
            }
          ]
        },
        "species": {
          "data": [
            {
              "id": "9",
              "type": "species"
            },
            {
              "id": "23",
              "type": "species"
            }
          ]
        }
      }
    },
    {
      "id": "4936",
      "type": "measurement",
      "attributes": {
        "value": "89",
        "sex_type": "Female",
        "trait_class": "Length",
        "trait": "Lmax-observed",
        "standard": "cm BDL",
        "measurement_method": null,
        "measurement_model": null,
        "value_type": "max",
        "precision": null,
        "precision_type": null,
        "precision_upper": null,
        "sample_size": 9,
        "dubious": null,
        "validated": null,
        "notes": "TASM",
        "validation_type": null,
        "location": "SW of Veryan Bank, Chatham Rise",
        "ocean": "SW of Veryan Bank, Chatham Rise",
        "longhurst_province": "New Zealand coast"
      },
      "relationships": {
        "species": {
          "data": {
            "id": "9",
            "type": "species"
          }
        },
        "observation": {
          "data": {
            "id": "387",
            "type": "observation"
          }
        }
      }
    },
    {
      "id": "4937",
      "type": "measurement",
      "attributes": {
        "value": "77.9",
        "sex_type": "Male",
        "trait_class": "Length",
        "trait": "Lmax-observed",
        "standard": "cm BDL",
        "measurement_method": null,
        "measurement_model": null,
        "value_type": "max",
        "precision": null,
        "precision_type": null,
        "precision_upper": null,
        "sample_size": 8,
        "dubious": null,
        "validated": null,
        "notes": "TASM",
        "validation_type": null,
        "location": "SW of Veryan Bank, Chatham Rise",
        "ocean": "SW of Veryan Bank, Chatham Rise",
        "longhurst_province": "New Zealand coast"
      },
      "relationships": {
        "species": {
          "data": {
            "id": "9",
            "type": "species"
          }
        },
        "observation": {
          "data": {
            "id": "387",
            "type": "observation"
          }
        }
      }
    },
    {
      "id": "4938",
      "type": "measurement",
      "attributes": {
        "value": "60",
        "sex_type": "Pooled",
        "trait_class": "Length",
        "trait": "Length at first maturity",
        "standard": "cm BDL",
        "measurement_method": null,
        "measurement_model": null,
        "value_type": "min",
        "precision": null,
        "precision_type": "range",
        "precision_upper": "70",
        "sample_size": 18,
        "dubious": null,
        "validated": null,
        "notes": "TASM",
        "validation_type": null,
        "location": "SW of Veryan Bank, Chatham Rise",
        "ocean": "SW of Veryan Bank, Chatham Rise",
        "longhurst_province": "New Zealand coast"
      },
      "relationships": {
        "species": {
          "data": {
            "id": "9",
            "type": "species"
          }
        },
        "observation": {
          "data": {
            "id": "387",
            "type": "observation"
          }
        }
      }
    },
    {
      "id": "4941",
      "type": "measurement",
      "attributes": {
        "value": "142",
        "sex_type": "Female",
        "trait_class": "Length",
        "trait": "Lmax-observed",
        "standard": "cm TL",
        "measurement_method": null,
        "measurement_model": null,
        "value_type": "max",
        "precision": null,
        "precision_type": null,
        "precision_upper": null,
        "sample_size": 9,
        "dubious": null,
        "validated": null,
        "notes": "TASM",
        "validation_type": null,
        "location": "SW of Veryan Bank, Chatham Rise",
        "ocean": "SW of Veryan Bank, Chatham Rise",
        "longhurst_province": "New Zealand coast"
      },
      "relationships": {
        "species": {
          "data": {
            "id": "9",
            "type": "species"
          }
        },
        "observation": {
          "data": {
            "id": "387",
            "type": "observation"
          }
        }
      }
    },
    {
      "id": "4942",
      "type": "measurement",
      "attributes": {
        "value": "125.1",
        "sex_type": "Male",
        "trait_class": "Length",
        "trait": "Lmax-observed",
        "standard": "cm TL",
        "measurement_method": null,
        "measurement_model": null,
        "value_type": "max",
        "precision": null,
        "precision_type": null,
        "precision_upper": null,
        "sample_size": 8,
        "dubious": null,
        "validated": null,
        "notes": "TASM",
        "validation_type": null,
        "location": "SW of Veryan Bank, Chatham Rise",
        "ocean": "SW of Veryan Bank, Chatham Rise",
        "longhurst_province": "New Zealand coast"
      },
      "relationships": {
        "species": {
          "data": {
            "id": "9",
            "type": "species"
          }
        },
        "observation": {
          "data": {
            "id": "387",
            "type": "observation"
          }
        }
      }
    }
  ]
}
</pre>

<h4 class="title is-4">Including Trend &amp; TrendObservation</h4>

<pre>
$ curl -s -H 'Authorization: Token <%= current_user.token %>' \
             "https://www.sharkipedia.org/api/v1/species/aetobatus-narinari?include=trends,trends.trend_observations" | jq '.'
{
  "data": {
    "id": "158",
    "type": "species",
    "attributes": {
      "binomial_name": "Aetobatus narinari",
      "edge_scientific_name": "Aetobatus narinari",
      "iucn_code": null,
      "authorship": "White & Naylor 2017"
    },
    "relationships": {
      "observations": {
        "data": [
          {
            "id": "481",
            "type": "observation"
          },
          {
            "id": "481",
            "type": "observation"
          },
          {
            "id": "481",
            "type": "observation"
          },
          {
            "id": "481",
            "type": "observation"
          },
          {
            "id": "481",
            "type": "observation"
          },
          {
            "id": "481",
            "type": "observation"
          },
          {
            "id": "481",
            "type": "observation"
          },
          {
            "id": "481",
            "type": "observation"
          },
          {
            "id": "481",
            "type": "observation"
          },
          {
            "id": "481",
            "type": "observation"
          },
          {
            "id": "481",
            "type": "observation"
          },
          {
            "id": "481",
            "type": "observation"
          }
        ]
      },
      "measurements": {
        "data": [
          {
            "id": "6138",
            "type": "measurement"
          },
          {
            "id": "6139",
            "type": "measurement"
          },
          {
            "id": "6140",
            "type": "measurement"
          },
          {
            "id": "6141",
            "type": "measurement"
          },
          {
            "id": "6142",
            "type": "measurement"
          },
          {
            "id": "6143",
            "type": "measurement"
          },
          {
            "id": "6144",
            "type": "measurement"
          },
          {
            "id": "6145",
            "type": "measurement"
          },
          {
            "id": "6146",
            "type": "measurement"
          },
          {
            "id": "6147",
            "type": "measurement"
          },
          {
            "id": "6148",
            "type": "measurement"
          },
          {
            "id": "6149",
            "type": "measurement"
          }
        ]
      },
      "trends": {
        "data": [
          {
            "id": "1",
            "type": "trend"
          },
          {
            "id": "2",
            "type": "trend"
          }
        ]
      }
    }
  },
  "links": {
    "self": "https://www.sharkipedia.org/api/v1/species/aetobatus-narinari?include=trends,trends.trend_observations"
  },
  "included": [
    {
      "id": "73157",
      "type": "trend_observation",
      "attributes": {
        "year": "2000",
        "value": "5.041"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73158",
      "type": "trend_observation",
      "attributes": {
        "year": "2001",
        "value": "4.263"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73159",
      "type": "trend_observation",
      "attributes": {
        "year": "2002",
        "value": "1.045"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73160",
      "type": "trend_observation",
      "attributes": {
        "year": "2003",
        "value": "4.527"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73161",
      "type": "trend_observation",
      "attributes": {
        "year": "2004",
        "value": "1.253"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73162",
      "type": "trend_observation",
      "attributes": {
        "year": "2005",
        "value": "2.331"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73163",
      "type": "trend_observation",
      "attributes": {
        "year": "2006",
        "value": "1.553"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73164",
      "type": "trend_observation",
      "attributes": {
        "year": "2007",
        "value": "9.341"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73165",
      "type": "trend_observation",
      "attributes": {
        "year": "2008",
        "value": "1.169"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73166",
      "type": "trend_observation",
      "attributes": {
        "year": "2009",
        "value": "6.27"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73167",
      "type": "trend_observation",
      "attributes": {
        "year": "2010",
        "value": "1.135"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73168",
      "type": "trend_observation",
      "attributes": {
        "year": "2011",
        "value": "1.897"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73169",
      "type": "trend_observation",
      "attributes": {
        "year": "2012",
        "value": "2.521"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73170",
      "type": "trend_observation",
      "attributes": {
        "year": "2013",
        "value": "1.925"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73171",
      "type": "trend_observation",
      "attributes": {
        "year": "2014",
        "value": "6.685"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "1",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "1",
      "type": "trend",
      "attributes": {
        "location": "Mexican coastal waters (Atlantic)",
        "data_type": "biomass",
        "sampling_method": "landings",
        "no_years": 15,
        "time_min": null,
        "comments": null,
        "page_and_figure_number": "NA",
        "line_used": "NA",
        "pdf_page": null,
        "actual_page": null,
        "depth": null,
        "figure_name": null,
        "figure_data": null,
        "reference": "Pérezunpubl1",
        "standard": "ton",
        "start_year": 2000,
        "end_year": 2014,
        "species_group": null,
        "unit_freeform": "",
        "sampling_method_info": "NA",
        "dataset_representativeness_experts": "west gulf of Mexico",
        "experts_for_representativeness": "IUCN NWAtlantic sharks and rays - Bahamas June 2019",
        "dataset_map": false,
        "variance": false,
        "data_mined": false,
        "unit_time": null,
        "unit_spatial": null,
        "unit_gear": null,
        "unit_transformation": null,
        "analysis_model": null,
        "oceans": [
          "Atlantic"
        ]
      },
      "relationships": {
        "species": {
          "data": {
            "id": "158",
            "type": "species"
          }
        },
        "trend_observations": {
          "data": [
            {
              "id": "73157",
              "type": "trend_observation"
            },
            {
              "id": "73158",
              "type": "trend_observation"
            },
            {
              "id": "73159",
              "type": "trend_observation"
            },
            {
              "id": "73160",
              "type": "trend_observation"
            },
            {
              "id": "73161",
              "type": "trend_observation"
            },
            {
              "id": "73162",
              "type": "trend_observation"
            },
            {
              "id": "73163",
              "type": "trend_observation"
            },
            {
              "id": "73164",
              "type": "trend_observation"
            },
            {
              "id": "73165",
              "type": "trend_observation"
            },
            {
              "id": "73166",
              "type": "trend_observation"
            },
            {
              "id": "73167",
              "type": "trend_observation"
            },
            {
              "id": "73168",
              "type": "trend_observation"
            },
            {
              "id": "73169",
              "type": "trend_observation"
            },
            {
              "id": "73170",
              "type": "trend_observation"
            },
            {
              "id": "73171",
              "type": "trend_observation"
            }
          ]
        }
      }
    },
    {
      "id": "73172",
      "type": "trend_observation",
      "attributes": {
        "year": "2009",
        "value": "0.166666667"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "2",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73173",
      "type": "trend_observation",
      "attributes": {
        "year": "2010",
        "value": "0.137254902"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "2",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73174",
      "type": "trend_observation",
      "attributes": {
        "year": "2011",
        "value": "0.176470588"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "2",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73175",
      "type": "trend_observation",
      "attributes": {
        "year": "2012",
        "value": "0.054054054"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "2",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73176",
      "type": "trend_observation",
      "attributes": {
        "year": "2013",
        "value": "0.225806452"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "2",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73177",
      "type": "trend_observation",
      "attributes": {
        "year": "2016",
        "value": "0.421052632"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "2",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73178",
      "type": "trend_observation",
      "attributes": {
        "year": "2017",
        "value": "0.222222222"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "2",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "73179",
      "type": "trend_observation",
      "attributes": {
        "year": "2018",
        "value": "0.233333333"
      },
      "relationships": {
        "trend": {
          "data": {
            "id": "2",
            "type": "trend"
          }
        }
      }
    },
    {
      "id": "2",
      "type": "trend",
      "attributes": {
        "location": "Bélize, Glovers Reef and Southwater Cay",
        "data_type": "sSPUE",
        "sampling_method": "sighting",
        "no_years": 10,
        "time_min": null,
        "comments": null,
        "page_and_figure_number": "NA",
        "line_used": "NA",
        "pdf_page": null,
        "actual_page": null,
        "depth": null,
        "figure_name": null,
        "figure_data": null,
        "reference": "Clementiunpubl1",
        "standard": "individual",
        "start_year": 2009,
        "end_year": 2018,
        "species_group": null,
        "unit_freeform": "mean",
        "sampling_method_info": "video",
        "dataset_representativeness_experts": "west Caribbean sea",
        "experts_for_representativeness": "IUCN NWAtlantic sharks and rays - Bahamas June 2019",
        "dataset_map": false,
        "variance": false,
        "data_mined": false,
        "unit_time": null,
        "unit_spatial": null,
        "unit_gear": "BRUV",
        "unit_transformation": null,
        "analysis_model": null,
        "oceans": [
          "Atlantic"
        ]
      },
      "relationships": {
        "species": {
          "data": {
            "id": "158",
            "type": "species"
          }
        },
        "trend_observations": {
          "data": [
            {
              "id": "73172",
              "type": "trend_observation"
            },
            {
              "id": "73173",
              "type": "trend_observation"
            },
            {
              "id": "73174",
              "type": "trend_observation"
            },
            {
              "id": "73175",
              "type": "trend_observation"
            },
            {
              "id": "73176",
              "type": "trend_observation"
            },
            {
              "id": "73177",
              "type": "trend_observation"
            },
            {
              "id": "73178",
              "type": "trend_observation"
            },
            {
              "id": "73179",
              "type": "trend_observation"
            }
          ]
        }
      }
    }
  ]
}
</pre>


<h4 class="title is-4">Filtering / Searching</h4>

<pre>
$ curl -s -H 'Authorization: Token <%= current_user.token %>' \
             "https://www.sharkipedia.org/api/v1/species?filter\[name_matches\]=%25<b>alphus</b>" | jq '.'
{
  "data": [
    {
      "id": "21",
      "type": "species",
      "attributes": {
        "binomial_name": "Hydrolagus alphus",
        "edge_scientific_name": "Hydrolagus alphus",
        "iucn_code": null,
        "authorship": "Quaranta, Didier, Long & Ebert 2006 "
      },
      "relationships": {
        "observations": {
          "data": [
            {
              "id": "453",
              "type": "observation"
            },
            {
              "id": "453",
              "type": "observation"
            },
            {
              "id": "453",
              "type": "observation"
            },
            {
              "id": "453",
              "type": "observation"
            }
          ]
        },
        "measurements": {
          "data": [
            {
              "id": "5716",
              "type": "measurement"
            },
            {
              "id": "5717",
              "type": "measurement"
            },
            {
              "id": "5718",
              "type": "measurement"
            },
            {
              "id": "5719",
              "type": "measurement"
            }
          ]
        },
        "trends": {
          "data": []
        }
      }
    },
    {
      "id": "1271",
      "type": "species",
      "attributes": {
        "binomial_name": "Etmopterus alphus",
        "edge_scientific_name": null,
        "iucn_code": null,
        "authorship": "Ebert, Straube, Leslie & Weigmann 2016"
      },
      "relationships": {
        "observations": {
          "data": []
        },
        "measurements": {
          "data": []
        },
        "trends": {
          "data": []
        }
      }
    }
  ],
  "meta": {
    "total": 2,
    "pagination": {
      "current": 1,
      "records": 2
    }
  },
  "links": {
    "self": "https://www.sharkipedia.org/api/v1/species?filter[name_matches]=%25alphus",
    "current": "https://www.sharkipedia.org/api/v1/species?filter[name_matches]=%alphus&page[number]=1"
  }
}
</pre>

<h4 class="title is-4">Pagination</h4>

<p>
The API is paginated. When available, the <code>links</code> object will reference surrounding pages.
The <code>meta</code> object contains general information about the size and number of the pages.
</p>

<pre>
$ curl -s -H 'Authorization: Token <%= current_user.token %>' \
             https://www.sharkipedia.org/api/v1/species | jq '.'
{
  "data": [
...
    {
      "id": "21",
      "type": "species",
      "attributes": {
        "binomial_name": "Hydrolagus alphus",
        "edge_scientific_name": "Hydrolagus alphus",
        "iucn_code": null,
        "authorship": "Quaranta, Didier, Long & Ebert 2006 "
      },
      "relationships": {}
    }
  ],
  "meta": {
    "total": 30,
    "pagination": {
      "current": 1,
      "next": 2,
      "last": 43
    }
  },
  "links": {
    "self": "https://www.sharkipedia.org/api/v1/species",
    "current": "https://www.sharkipedia.org/api/v1/species?page[number]=1",
    "next": "https://www.sharkipedia.org/api/v1/species?page[number]=2",
    "last": "https://www.sharkipedia.org/api/v1/species?page[number]=43"
  }
}
</pre>

<p>
Accessing a page:
</p>

<pre>
$ curl -s -H 'Authorization: Token <%= current_user.token %>' \
             "https://www.sharkipedia.org/api/v1/species?page[number]=2" | jq '.'
{
  "data": [
...
    {
      "id": "51",
      "type": "species",
      "attributes": {
        "binomial_name": "Hemitrygon akajei",
        "edge_scientific_name": "Dasyatis akajei",
        "iucn_code": null,
        "authorship": "Last et al 2016"
      },
      "relationships": {}
    }
  ],
  "meta": {
    "total": 30,
    "pagination": {
      "current": 2,
      "first": 1,
      "prev": 1,
      "next": 3,
      "last": 43
    }
  },
  "links": {
    "self": "https://www.sharkipedia.org/api/v1/species?page[number]=2",
    "current": "https://www.sharkipedia.org/api/v1/species?page[number]=2",
    "first": "https://www.sharkipedia.org/api/v1/species?page[number]=1",
    "prev": "https://www.sharkipedia.org/api/v1/species?page[number]=1",
    "next": "https://www.sharkipedia.org/api/v1/species?page[number]=3",
    "last": "https://www.sharkipedia.org/api/v1/species?page[number]=43"
  }
}
</pre>


<h4 class="title is-4">Boundaries</h4>

<h5 class="subtitle is-5">List all available Boundary types</h5>

<pre>
$ curl -s -H 'Authorization: Token <%= current_user.token %>' \
             "https://www.sharkipedia.org/api/v1/boundaries" | jq '.'

{
  "data": [
    {
      "id": "1",
      "type": "boundaries",
      "attributes": {
        "id": 1,
        "name": "Ocean"
      },
      "relationships": {}
    },
    {
      "id": "2",
      "type": "boundaries",
      "attributes": {
        "id": 2,
        "name": "Eez"
      },
      "relationships": {}
    }
  ],
  "meta": {
    "total": 2,
    "pagination": {
      "current": 1,
      "records": 2
    }
  },
  "links": {
    "self": "https://www.sharkipedia.org/api/v1/boundaries",
    "current": "https://www.sharkipedia.org/api/v1/boundaries?page[number]=1",
    "records": "https://www.sharkipedia.org/api/v1/boundaries?page[number]=2"
  }
}
</pre>

<h5 class="subtitle is-5">List all available Boundaries by type</h5>

<pre>
$ curl -s -H 'Authorization: Token <%= current_user.token %>' \
             "https://www.sharkipedia.org/api/v1/boundaries/ocean" | jq '.'

{
  "data": [
    {
      "id": "1",
      "type": "ocean",
      "attributes": {
        "id": 1,
        "name": "Atlantic"
      },
      "relationships": {}
    },
    {
      "id": "2",
      "type": "ocean",
      "attributes": {
        "id": 2,
        "name": "Indian"
      },
      "relationships": {}
    },
    {
      "id": "3",
      "type": "ocean",
      "attributes": {
        "id": 3,
        "name": "Mediterranean"
      },
      "relationships": {}
    },
    {
      "id": "4",
      "type": "ocean",
      "attributes": {
        "id": 4,
        "name": "Pacific"
      },
      "relationships": {}
    },
    {
      "id": "5",
      "type": "ocean",
      "attributes": {
        "id": 5,
        "name": "Arctic"
      },
      "relationships": {}
    }
  ],
  "meta": {
    "total": 5,
    "pagination": {
      "current": 1,
      "records": 5
    }
  },
  "links": {
    "self": "https://www.sharkipedia.org/api/v1/boundaries/ocean",
    "current": "https://www.sharkipedia.org/api/v1/boundaries/ocean?page[number]=1",
    "records": https://www.sharkipedia.org/api/v1/boundaries/ocean?page[number]=5"
  }
}
</pre>

<h4 class="subtitle is-5">Query for Species</h4>

<h5 class="subtitle is-5">By Boundary (Ocean)</h5>

<pre>
$ curl -s -H 'Authorization: Token <%= current_user.token %>' \
             "https://www.sharkipedia.org/api/v1/species/query" \
             -XPOST -d 'oceans[]=Atlantic&oceans[]=Pacific' | jq '.'

{
  "data": [
    {
      "id": "158",
      "type": "species",
      "attributes": {
        "binomial_name": "Aetobatus narinari",
        "edge_scientific_name": "Aetobatus narinari",
        "iucn_code": null,
        "authorship": "White & Naylor 2017"
      },
      "relationships": { ... }
    }
  ]
}
</pre>

<h5 class="subtitle is-5">By Boundary (EEZ)</h5>

<pre>
$ curl -s -H 'Authorization: Token <%= current_user.token %>' \
             "https://www.sharkipedia.org/api/v1/species/query" \
             -XPOST -d 'eez_id=4' | jq '.'

{
  "data": [
    {
      "id": "372",
      "type": "species",
      "attributes": {
        "binomial_name": "Bathyraja albomaculata",
        "edge_scientific_name": "Rhinoraja albomaculata",
        "iucn_code": null,
        "authorship": "Last et al 2016"
      },
      "relationships": { ... }
    }
  ]
}

</pre>

<% else %>
  <p>
    While the API is open for everyone to use it is required that you authenticate
    your API requests with an API token. You can create an account <%= link_to "here", new_user_registration_path %>.
  </p>
<% end %>
