<section class="section">
  <div class="container">
    <h1 class="title">Shark Traits & Trends</h1>

    <p>Shark Traits has currently <%= @measurement_count %> measurements of
      <%= @trait_count %> traits, covering <%= @species_count %> species.</p>
    <br>

    <p>The Shark Traits and Shark Trends Databases are an open source research initiative to
    make all published biological traits and population trends on sharks, rays, and chimaeras accessible
    to everyone.</p>

    <section class="section">
      <h2 class="subtitle">Scientific Name</h2>

      <%= form_with url: data_export_index_path, local: true, method: :get do |f| %>
        <%= hidden_field_tag :export_type, 'Traits' %>
        <div class="field">
          <%= label_tag 'species[]', 'Genus & Species', class: 'label' %>
          <div class="control">
            <%= select_tag 'species[]', nil, style: 'width: 100%', multiple: 'multiple' %>
          </div>
          <p class="help">For example: Carcharhinus acronotus</p>
        </div>

        <div class="field">
          <%= label_tag 'traits[]', 'Traits', class: 'label' %>
          <div class="control">
            <%= select_tag 'traits[]', nil, style: 'width: 100%', multiple: 'multiple' %>
          </div>
          <p class="help">For example: Lmat50 See the procedures document for more details <%= link_to 'here', procedure_path(anchor: 'trait-classes-and-traits') %>.</p>
        </div>

        <div class="field is-grouped is-grouped-right">
          <p class="control">
            <%= submit_tag 'Search', class: 'button is-info' %>
          </p>
        </div>
      <% end %>
    </section>

    <section class="section">
      <h2 class="subtitle">Information by Family</h2>

      <%= form_tag '', class: 'field' do %>
        <div class="field is-grouped">
          <p class="control is-expanded">
            <%= select_tag 'family[]', nil, style: 'width: 100%', multiple: 'multiple' %>
          </p>
          <p class="control">
            <%= submit_tag 'Search', class: 'button is-info' %>
          </p>
        </div>
      <% end %>
    </section>

    <h3 class="title">Funders and Partners</h3>

    <div class="columns">
      <div class="column">
        <%= image_tag "SCF.png", class: "imgborder", size: 500 %>
        <%= image_tag "SFU_2012_stacked.png", class: "imgborder", size: 500 %>
      </div>
      <div class="column">
        <%= image_tag "iucn-ssg-logo.png", class: "imgborder", size: 500 %>
        <%= image_tag "VT2.png", class: "imgborder", size: 500 %>
      </div>
      <div class="column">
        <%= image_tag "NSF2.png", class: "imgborder", size: 300 %>
      </div>
    </div>

  </div>
</section>
