<section class="section">
  <div class="container">
    <h1 class="title">Shark Traits & Trends</h1>

    <p>Shark Traits has currently <%= @measurement_count %> measurements of
      <%= @trait_count %> traits, covering <%= @species_count %> species.</p>
    <br>

    <p>The Shark Traits and Shark Trends Databases are an open source research initiative to
    make all published biological traits and population trends on sharks, rays, and chimaeras accessible
    to everyone.</p>

    <section class="section">
      <h2 class="subtitle">Scientific Name</h2>
      <%= label_tag 'species', 'Genus & Species', class: 'label' %>
      <%= select_tag 'species', nil, style: 'width: 30%' %>
      <p class="help">For example: Carcharhinus acronotus</p>
    </section>

    <h3 class="title">Funders and Partners</h3>

    <div class="columns">
      <div class="column">
        <%= image_tag "SCF.png", class: "imgborder", size: 500 %>
        <%= image_tag "SFU_2012_stacked.png", class: "imgborder", size: 500 %>
      </div>
      <div class="column">
        <%= image_tag "iucn-ssg-logo.png", class: "imgborder", size: 500 %>
        <%= image_tag "VT2.png", class: "imgborder", size: 500 %>
      </div>
      <div class="column">
        <%= image_tag "NSF2.png", class: "imgborder", size: 300 %>
      </div>
    </div>

  </div>
</section>
