<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <th>AuthorYear</th>
      <td id="author-year">
        <% if local_assigns.has_key? :render_links %>
          <%= link_to resource.name, resource_path(resource) %>
        <% elsif local_assigns.has_key? :render_links_new_window %>
          <%= link_to resource.name, resource_path(resource), target: '_blank' %>
        <% else %>
          <%= resource.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>SourceYear</th>
      <td id="source-year"><%= resource.year %></td>
    </tr>
    <tr>
      <th>DataSource</th>
      <td id="data-source"><%= resource.data_source %></td>
    </tr>
    <tr>
      <th>doi</th>
      <td id="doi"><%= link_to_doi resource.doi %></td>
    </tr>
    <tr>
      <th>Resource</th>
      <td id="resource"><%= resource.resource %></td>
    </tr>
    <% if resource.file_public && resource.resource_file.attached? %>
      <tr>
        <th>Resource File</th>
        <td id="resource-file"><%= link_to @resource.resource_file.filename, url_for(@resource.resource_file), target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
