<h1 class="title">Resources</h1>

<div>
  Search for resource name
  <%= select_tag 'resources', nil, style: 'width: 50%' %>
</div>

<hr />

<% if params[:all] %>
  <p>or select from list (<%= link_to 'show only resources with data', resources_path %>):</p>
<% else %>
  <p>or select from list (<%= link_to 'show all resources', resources_path(all: true) %>):</p>
<% end %>

<div>
  <table class="table is-fullwidth is-bordered">
    <tbody>
      <% @resources.each do |resource| %>
        <tr>
          <td><%= link_to resource.name, resource_path(resource) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%== pagy_bulma_nav(@pagy) %>
</div>
