<h1 class="title"><%= @resource.name %></h1>

<div class="columns">
  <div class="column">
    <p>
      <b>Resource:</b> <%= @resource.resource || '-' %>
    </p>
    <p>
      <b>Year:</b> <%= @resource.year || '-' %>
    </p>
    <p>
      <b>DOI:</b> 
      <% if @resource.doi.blank? %>
        -
      <% else %>
        <%= link_to @resource.doi, "https://www.doi.org/#{@resource.doi}", target: '_blank' %>
      <% end %>
    </p>
    <p>
      <b>DataSource:</b> <%= @resource.data_source || '-' %>
    </p>
  </div>
</div>

<% unless @observations.blank? %>
  <h2 class="subtitle">Trait Observations</h2>
  <% @observations.each do |observation| %>
    <table class="table">
      <thead>
        <tr>
          <th>Species</th>
          <th>Class</th>
          <th>Name</th>
          <th>Value</th>
          <th>Standard</th>
          <th>ValueType</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <% observation.measurements.each do |measurement| %>
          <tr>
            <td><%= link_to measurement.observation.species.name, species_path(measurement.observation.species) %></td>
            <td><%= measurement.trait_class.name %></td>
            <td><%= measurement.trait.name %></td>
            <td><%= measurement.value %></td>
            <td><%= measurement.standard.try(:name) %></td>
            <td><%= measurement.value_type.try(:name) %></td>
            <td><%= measurement.location.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
