<h1 class="title">
  Data Export
</h1>

<% if params[:commit] %>
  <div class="export-info">
  Exporting trait data for: <%= @species.map(&:name).join(', ') %>
  <%= link_to 'Download CSV', '#', id: 'data-export-link', class: 'button is-primary is-pulled-right' %>
  </div>
<% else %>
  <%= form_with url: data_export_index_path, local: true, method: :get do |f| %>
    <div class="field">
      <label class="label">Select type of data:</label>
      <div class="select">
        <%= f.select :export_type, [ 'Traits' ] %>
      </div>
    </div>

    <%# <div class="field"> %>
      <%#   <label class="label">Select one or more oceans:</label> %>

      <%#   <%= select_tag 'oceans', nil, style: 'width: 50%', multiple: 'multiple' %1> %>
      <%# </div> %>

    <div class="field">
      <label class="label">Select zero or more species</label>
      <%= select_tag 'species[]', nil, style: 'width: 50%', multiple: 'multiple' %>
    </div>

    <%= f.submit 'Export', class: 'button is-primary' %>
  <% end %>
<% end %>

<% if @data %>
  <%= content_tag :div, class: "export_data", data: { csvdata: @data } do %>
  <% end %>

  <div id="gridctr" style="height: 637px;"></div>
<% end %>
