<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
  <tbody>
    <tr>
      <th>ID</th>
      <td><%= reference.id %></td>
    </tr>
    <tr>
      <th>Author</th> 

      <td id=<%= "author" %>>
        <%= display_authors(reference.author) %>
      </td>
    </tr>
    <tr>
      <th>AuthorYear</th>
      <td id="author-year">
        <% if local_assigns.has_key? :render_links %>
          <%= link_to reference.name, reference_path(reference) %>
        <% elsif local_assigns.has_key? :render_links_new_window %>
          <%= link_to reference.name, reference_path(reference), target: '_blank' %>
        <% else %>
          <%= reference.name %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Title</th>
      <td id="title"><%= reference.title %></td>
    </tr>
    <tr>
      <th>Journal</th>
      <td id="journal"><%= reference.journal %></td>
    </tr>
    <tr>
      <th>Volume</th>
      <td id="volume"><%= reference.volume %></td>
    </tr>
    <tr>
      <th>Part/Supplement</th>
      <td id="part-supplement"><%= reference.part_supplement %></td>
    </tr>
    <tr>
      <th>Issue</th>
      <td id="issue"><%= reference.issue %></td>
    </tr>
    <tr>
      <th>Pages</th>
      <td id="pages"><%= reference.pages %></td>
    </tr>
    <tr>
      <th>Start Page</th>
      <td id="start-page"><%= reference.start_page %></td>
    </tr>
    <tr>
      <th>Errata</th>
      <td id="errata"><%= reference.errata %></td>
    </tr>
    <tr>
      <th>Epub Date</th>
      <td id="epub-date><%= reference.epub_date %></td>
    </tr>
    <tr>
      <th>Date</th>
      <td id="date"><%= reference.date %></td>
    </tr>
    <tr>
      <th>SourceYear</th>
      <td id="source-year"><%= reference.year %></td>
    </tr>
    <tr>
      <th>DataSource</th>
      <td id="data-source"><%= reference.data_source %></td>
    </tr>

    <tr>
      <th>doi</th>
      <td id="doi"><%= link_to_doi reference.doi %></td>
    </tr>
    <tr>
      <th>Reference</th>
      <td id="reference"><%= reference.reference %></td>
    </tr>
    <% if reference.file_public && reference.reference_file.attached? %>
      <tr>
        <th>Reference File</th>
        <td id="reference-file"><%= link_to @reference.reference_file.filename, url_for(@reference.reference_file), target: '_blank' %></td>
      </tr>
    <% end %>
    <tr>
      <th>data entered</th>
      <td id="observations">
        <%= !reference.observations.blank? %>
      </td>
    </tr>
  </tbody>
</table>
