<h1 class="title"><%= @reference.name %></h1>

<%= render partial: 'detail', locals: { reference: @reference } %>

<% unless @observations.blank? %>
  <h2 class="subtitle">Trait Observations</h2>
  <% @observations.each do |observation| %>
    <table class="table">
      <thead>
        <tr>
          <th>Species</th>
          <th>Class</th>
          <th>Name</th>
          <th>Value</th>
          <th>Standard</th>
          <th>ValueType</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <% observation.measurements.each do |measurement| %>
          <tr>
            <td><%= link_to measurement.species.name, species_path(measurement.species) %></td>
            <td><%= measurement.trait_class.name %></td>
            <td><%= measurement.trait.name %></td>
            <td><%= measurement.value %></td>
            <td><%= measurement.standard.try(:name) %></td>
            <td><%= measurement.value_type.try(:name) %></td>
            <td><%= measurement.location.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>

<%= render partial: 'trends/list', locals: { trends: @trends, hide_reference: true } %>
