<h1 class="title">Species Regulated by International Treaties</h1>


<table class="table is-fullwidth is-bordered">
  <thead>
    <tr>
      <th>
        <div class="dropdown">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Order</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <%= link_to "All", protected_species_path, class:"dropdown-item #{params[:filter].blank? ? 'is-active' : ''}" %>
            <hr class="dropdown-divider">
            <% @species_orders.each do |order| %>
                <%= link_to order, format_protected_species_path(order: order), class:"dropdown-item #{ params.dig(:filter, :order) == order ? 'is-active': '' }" %> 
            <% end %>
          </div>
        </div>
      </div>
      </th>
      <th>
       <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
            <span>Family</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <%= link_to "All", format_protected_species_path(order: @current_order), class:"dropdown-item #{params[:filter].blank? ? 'is-active' : ''}" %>
            <hr class="dropdown-divider">
            <% @species_families.each do |family| %>
                <%= link_to family, format_protected_species_path(order: @current_order, family: family), class:"dropdown-item #{ params.dig(:filter, :family) == family ? 'is-active': '' }" %>
            <% end %>
          </div>
        </div>
      </div>
      </th>
      <th>Species</th>
      <th>CITES</th>
      <th>CMS</th>
    </tr>
  </thead>
  <tbody>
    <% @species.each do |species| %>
      <tr>
        <td><%= species.species_order.name %></td>
        <td><%= species.species_family.name %></td>
        <td><%= link_to species.name, species_path(species) %></td>
        <td><%= content_tag(:span, format_protected_status(species.cites_status, species.cites_status_year), data:{tooltip: tooltip_text(species.cites_status, :cites_status)}) %></td>
        <td><%= content_tag(:span, format_protected_status(species.cms_status, species.cms_status_year), data:{tooltip: tooltip_text(species.cms_status, :cms_status)}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
