<h1 class="title">Species Regulated by International Treaties</h1>

<table class="table is-fullwidth is-bordered">
  <thead>
    <tr>
      <th>Order</th>
      <th>Family</th>
      <th>Species</th>
      <th>CITES</th>
      <th>CMS</th>
    </tr>
  </thead>
  <tbody>
    <% @species.each do |species| %>
      <tr>
        <td><%= species.species_order.name %></td>
        <td><%= species.species_family.name %></td>
        <td><%= link_to species.name, species_path(species) %></td>
        <td><%= content_tag(:span, format_protected_status(species.cites_status, species.cites_status_year), data:{tooltip: tooltip_text(species.cites_status)}) %></td>
        <td><%= content_tag(:span, format_protected_status(species.cms_status, species.cms_status_year), data:{tooltip: tooltip_text(species.cms_status)}) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
