<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <%= link_to root_path, class: "navbar-item" do %>
      <%= image_tag 'sharkipedia_logo.png', size: 98 %>
    <% end %>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to 'Home', root_path, class: "navbar-item" %>

      <%= link_to 'Species', species_index_path, class: "navbar-item" %>

      <%= link_to 'Traits', traits_path, class: "navbar-item" %>

      <%= link_to 'Trends', trends_path, class: "navbar-item" %>

      <%= link_to 'About', about_path, class: "navbar-item" %>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <% if user_signed_in? %>
            <%= link_to 'Trait Observations', observations_path, class: "navbar-item" %>
          <% end %>
          <%= link_to 'References', references_path, class: "navbar-item" %>
          <%= link_to 'Data Export', data_export_index_path, class: "navbar-item" %>
          <%= link_to 'Procedures', procedure_path, class: "navbar-item" %>
          <%= link_to 'Contact', contact_path, class: "navbar-item" %>
          <hr class="navbar-divider">
          <a class="navbar-item" href="https://github.com/sharkipedia/sharkipedia/issues/new" target="_blank">
            Report an issue
          </a>
        </div>
      </div>

      <% if user_signed_in? %>
        <% if user_is_contributor? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Upload Data
            </a>
            <div class="navbar-dropdown">
              <%= link_to 'My Uploads', imports_path(query: "my"), class: "navbar-item" %>
              <hr class="navbar-divider">

              <%= link_to 'New Trait Observation', new_observation_path, class: "navbar-item" %>
              <%= link_to 'New Trend', new_trend_path, class: "navbar-item" %>
              <%= link_to 'New Reference', new_reference_path, class: "navbar-item" %>
              <hr class="navbar-divider">
              <%= link_to 'New Mass Import', new_import_path, class: "navbar-item" %>
            </div>
          </div>
        <% end %>

        <% if user_is_admin? %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              Review
            </a>
            <div class="navbar-dropdown">
              <%= link_to 'Trend Uploads', imports_path(query: "trend"), class: "navbar-item" %>
              <%= link_to 'Trait Uploads', imports_path(query: "trait"), class: "navbar-item" %>
              <hr class="navbar-divider">
              <%= link_to 'All Uploads', imports_path, class: "navbar-item" %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="navbar-end">
      <% if user_is_admin? %>
        <%= link_to 'Admin Dashboard', admin_root_path, class: "navbar-item" %>
      <% end %>

      <div class="navbar-item">
        <% if user_signed_in? %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "button is-light" %>
        <% else %>
          <div class="buttons">
            <%= link_to new_user_registration_path, class: "button is-primary" do %>
              <strong>Sign up</strong>
            <% end %>
            <%= link_to "Log in", new_user_session_path, class: "button is-light" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
